html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  height: 480px;
  width: 640px;
  cursor: grab;
  cursor: none;
}